<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <p>
        <app-banner></app-banner>
      </p>
    </div>
    <div *ngIf="cadastroOuLogin; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start">
        <p>
          <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
        </p>
      </div>
    </div>
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start">
        <p>
          <app-login (exibirPainel)="exibirPainel($event)"></app-login>
        </p>
      </div>
    </ng-template>
  </div>
</div>